# fly.toml app configuration file generated for sakuraos-shell on 2025-12-10T22:55:59-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

# fly.toml
app = "sakuraos-shell"
primary_region = "ord"   # pick your preferred region

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 80
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = "connections"
    hard_limit = 50
    soft_limit = 25

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "256mb"
